/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	color-scheme: light dark;
	--color-text:#111; 
	--color-background:#eee;
	--color-text-button: #eee; 
	--color-button:#111; 
	
	--font-family: Sans-serif, Helvetica; 
	
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



body{
	font-family: var(--font-family);
	background-color: var(--color-background);
}

button{
	background-color: var(--color-button);
	color: var(--color-text-button); 
}


main > section:nth-of-type(1) ul {
	display: flex;
	overflow-x: auto; 
}

main > section:nth-of-type(1) li{
	flex-shrink: 0;
	list-style-type: none;
}

main > section:nth-of-type(1) li img{
	width: 40em;
	height: 40em;
}


main > section:nth-of-type(2) ul {
	display: flex;
	overflow-x: auto;
	justify-content: flex-start;
	align-items: center;
	gap: 2em;

}

main > section:nth-of-type(2) li {
	flex-shrink: 0;
	list-style-type: none;
	
}

main > section:nth-of-type(2) li img{
	width: 8em;
	margin-right: .125em;
	display: block;
}

main > section:nth-last-of-type(3) h2{
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
}


main > section:nth-of-type(3) ul{
	display: flex;
	overflow-x: auto; 
	padding: 0;
	margin: 0;
}


main > section:nth-of-type(3) ul li{
	flex-shrink: 0;
	list-style-type: none;
}

main > section:nth-of-type(3) li img:first-of-type{
   width: 25em;

}


main > section:nth-of-type(4) h2, section:nth-of-type(3) h2, section:nth-of-type(5) h2, section:nth-of-type(6) h2  {
	text-transform: uppercase;
	font-size: medium;
	display: flex;
	align-items: flex-start;
	margin-left: 1em;
	font-weight: 200;
	font-size: small;
	padding-bottom: 1em;
}

main > section:nth-of-type(4) ul{
	display: flex;
	overflow-x: auto;
	
}

main > section:nth-of-type(4) li{
  flex-shrink: 0;
  list-style-type: none;
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2em;
}


main > section:nth-of-type(4) li img:first-of-type{
  width: 10em;
  order: 1; 
}

main > section:nth-of-type(4) li img:nth-of-type(2){
	width: 2em;
	order: 1; 
	position: absolute;
	bottom: 13em; 
	right: 1em; 

  }

main > section:nth-of-type(4) li h3{
	order: 2; 
	text-transform: uppercase;
	font-weight: 200;
	font-size: smaller;
	
}

main > section:nth-of-type(4) li p{
	order: 3; 
	font-weight: 100;
	font-size: small;
	line-height: 0.1em;
}


main > section:nth-of-type(4) li:nth-of-type(1) p:nth-of-type(4){
	color:purple; 
	font-size: medium;
	font-weight: 700;
}
	
main > section:nth-of-type(4) li:nth-of-type(1) p:nth-of-type(5){
	font-size: x-small;
}



main > section:nth-of-type(4) li:nth-of-type(2) p:nth-of-type(2){
	color:purple; 
	font-size: medium;
	font-weight: 700;
}

main > section:nth-of-type(4) li:nth-of-type(2) p:nth-of-type(3){
	font-size: x-small;
}



main > section:nth-of-type(4) li:nth-of-type(3) p:nth-of-type(5){
	color:purple; 
	font-size: medium;
	font-weight: 700;
}

main > section:nth-of-type(4) li:nth-of-type(3) p:nth-of-type(6){
	font-size: x-small;
}

main > section:nth-of-type(4) li:nth-of-type(3) p:nth-of-type(4) {
	text-decoration: line-through;
}



main > section:nth-of-type(5) ul{
	display: flex;
	overflow-x: auto;
	margin: 0;
	padding: 0;
}

main > section:nth-of-type(5) li{
	flex-shrink: 0;
	list-style-type: none;
	position: relative; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main > section:nth-of-type(5) li img{
	width: 15em; 
	order: 1; 
	padding-right: 0.12em;
}

main > section:nth-of-type(5) li h3{
	order: 2; 
	text-transform: uppercase;
	font-weight: 200;
	font-size: small;
	margin-bottom: 0.2em;

}

main > section:nth-of-type(5) li p{
	order: 3; 
	font-weight: 100;
	font-size: small;
	line-height: 0.1em;
}

main > section:nth-of-type(5) li p:nth-of-type(2){
	font-size: x-small;
	padding-bottom: 1em;
}




main > section:nth-of-type(6) ul{
	display: flex;
	overflow-x: auto;
	margin: 0;
	padding: 0;
}

main > section:nth-of-type(6) li{
	flex-shrink: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

main > section:nth-of-type(6) li img{
	width: 12em;
	padding-right: 0.12em;

}

main > section:nth-of-type(6) a{
	font-size: small;
}

