/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;

	/*border:solid 1px red;*/

}


@font-face {
	font-family: "MijnFont";
	src: url('../font/Avenir Next/Avenir-next-lt-pro/AvenirNextLTPro-Regular.otf');
	font-weight: 400;
}

@font-face {
	font-family: "MijnFont";
	src: url('../font/Avenir Next/Avenir-next-lt-pro/AvenirNextLTPro-Bold.otf');
	font-weight: 700;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

	--color-text: black;
	--color-background: white;
	--font-family: "MijnFont", sans-serif;
	--radiobutton-checked: black; 
	--Douglas-color: #9bdcd2;
	--Douglas-color-dark: #6fdbcb; 
}


@media (prefers-color-scheme: dark) {
	:root {
		--color-text: white;
		--color-background: black;
	}
}


@media (prefers-color-scheme:dark) {
	.zwart-wit-icon {
		/* 1. filter invert */
		filter: invert(100%);
	}
}

@media (prefers-color-scheme:dark) {
	.inline-svg-icon {
		fill:white;
	}
}

html:has([value="dark"]:checked) {
	--color-text: white;
	--color-background: black;
	color-scheme: dark;
  }
  
  html:has([value="dark"]:checked) .zwart-wit-icon {
	/* 1. filter invert */
	filter: invert(100%);
  }	
	 
html:has([value="light"]:checked) {
	--color-text: black;
	--color-background: white;
		color-scheme: light;
		
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
	font-family: var(--font-family);
	background-color: var(--color-background);
	color: var(--color-text);
}

body.inactive {
	overflow: hidden;
}

button:active{
	transform: translateY(-0.2em);
}


a:hover {
	color: var(--Douglas-color); 
	text-decoration: underline;
}

a:active {
	color: var(--Douglas-color-dark); 
	font-size: medium;

}

a:focus {
	border-color: var(--Douglas-color); 
	outline-offset: 0.5em; 		
	border-radius: 1em;								
}


/****************/
/* JOUW STYLING */
/****************/

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/*bron: a11yproject*/

}

/****************/
/* kerst thema */
/****************/

main > img{
	width: 5em;
	margin: 1em;
	display: none;
	position: relative; 
}


html:has([value="kerst"]:checked) main > img{
	display: block;
	animation-name: rendier;
	animation-duration: 20s;
	animation-iteration-count: infinite;
  
}

@keyframes rendier{
	0%{
	  right: 100%;
	}
	100%{
	  right: -100%;
	}
}

/****************/
/* Reduced motion*/
/****************/

html:has([value="reducedmotion"]:checked) main>section:nth-of-type(8) img:hover{
	transform: none;
}

html:has([value="reducedmotion"]:checked) main>section:nth-of-type(7) li img:hover{
	transform: none;
}

html:has([value="reducedmotion"]:checked) main>section:nth-of-type(8) img:hover{
	animation: none;
}

html:has([value="reducedmotion"]:checked) button:active{
	transform: none;
}

html:has([value="reducedmotion"]:checked) main > img{
	animation: none;
	display: none;
}


/****************/
/* LUCHTJES SLIDER */
/****************/

main>section:nth-of-type(1) {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	position: relative;
	overflow-y: auto;

}


main>section:nth-of-type(1) > ul:nth-of-type(1) {
	display: flex;
	border-bottom: solid;
	border-color: #dddddddd;
	grid-row: 1;
	padding: 0;
	margin: 0;
}

main>section:nth-of-type(1) ul:nth-of-type(1) li{
	font-size: small;
	margin: 0;
	padding: 0;
}

main>section:nth-of-type(1) > ul:nth-of-type(1) li a {
	color: var(--color-text);
	text-decoration: none;
	font-size: small;
	padding: 1em;

}

main>section:nth-of-type(1) > img:first-of-type {
	grid-row: 2;
	align-items: center;
    display: flex; 
    justify-content: center;
	width: 10em;
}


main>section:nth-of-type(1) > ul:nth-of-type(2) {
	display: flex;
	overflow-x: auto;
	grid-row: 3;
}


main>section:nth-of-type(1) ul:nth-of-type(2) img {
	aspect-ratio: 1/1;
	width: 23em;
	grid-row: 3;
	grid-column: 1;

}

main>section:nth-of-type(1) > button:first-of-type{
	grid-row: 4;
	grid-column-start: 1;
	border: none;
	justify-self: center;
	margin: 0;
	max-width: 100%;

	
}

main>section:nth-of-type(1) button>img:first-of-type {
	width: 3em;
}

main>section:nth-of-type(1)>button:nth-of-type(2){
	background-color: var(--color-text);
	color: var(--color-background);

	position: fixed;
	width: 100%;
	padding: 1em;
	text-transform: uppercase;
	border-color: var(--color-background); 
	border-width: 1em;
	border-style: solid;
	bottom: 0;
	z-index: 20;
}



main>section:nth-of-type(1)>nav ul {
	display: flex;
	justify-content: center;
	gap: 0.5em;
	padding: 0;
	margin: 0;
}

main>section:nth-of-type(1)>nav>ul>li {
	border-radius: 30px;
	border: 1px solid;
}

main>section:nth-of-type(1)>nav>ul>li a {
	margin: 0;
	padding: 7px;
	background-color: black;
	border-radius: 30px;
	display: block;
	width: 100%;
	height: 100%;

}

/****************/
/* DIALOG WINKELMAND*/
/****************/



section:nth-of-type(1) dialog:first-of-type{
	transform: translateY(70%);
	max-width: 100%;
	height: 100%;
	border: none;

}

section:nth-of-type(1) dialog:first-of-type section h2{
	font-weight: 400;
	text-transform: uppercase;
	font-size: small;

}

section:nth-of-type(1) dialog:first-of-type p{
	font-weight: 400;
	font-size: small;
	text-transform: none;
	margin: 0;
	padding: 0.2em;
}

section:nth-of-type(1) dialog:first-of-type section{
	display: flex;
	justify-content: space-between; 
	border: none; 

}
section:nth-of-type(1) dialog:first-of-type section > button{
  
  border: none; 
  
}

section:nth-of-type(1) dialog:first-of-type > button:hover{
	background-color: var(--color-text); 
	color: var(--color-background);
}

section:nth-of-type(1) dialog:first-of-type > button{
	color: var(--color-text);
	background-color: var(--color-background);
	padding: 1em;
	justify-content: center;
	align-items: center;
	width: 20em;
	margin-top: 1em;
}





/****************/
/* TITEL EN STERREN */
/****************/

main>section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 2fr;
	grid-template-rows: auto;
}

main>section:nth-of-type(2) h2 {
	grid-row: 1;
	grid-column-start: 1;
	text-transform: uppercase;
	font-size: medium;
	margin-left: 1em;

}

main>section:nth-of-type(2) p {
	grid-row: 2;
	grid-column-start: 1;
	margin-left: 1em;
	padding: 0;
	align-items: start;
	font-size: small;
	color: gray;
}

main>section:nth-of-type(2) svg {
	grid-row: 2;
	justify-content: end;
}


/****************/
/* FIELDSETs */
/****************/
main>section:nth-of-type(3) input#radiobutton1:checked{
	background-image: url("images/ysl_parfum_30ml.avif");
}

main>section:nth-of-type(3) input#radiobutton2:checked{
	background-image: url("images/ysl_parfum_50ml.avif");
}

main>section:nth-of-type(3) form{
	border: none;
}

main>section:nth-of-type(3) form fieldset{
	border-bottom: solid;
	border-color: #dddddddd;
	border-width: 0.1em;
	padding: 1em;

}

main>section:nth-of-type(3) form fieldset {
	display: grid;
	grid-template-columns: max-content 2fr;
	grid-template-rows: auto;
	font-size: small;

}


main>section:nth-of-type(3) fieldset input  {
	grid-column: 1;
	grid-row: 1/2;
	display: flex;
	align-items: start;
	width: 2em;
	aspect-ratio: 1/1;

}

main>section:nth-of-type(3) input[type="radio"]{
	accent-color: black;
}



main>section:nth-of-type(3) fieldset label {
	grid-column: 2;
	grid-row: 1/2;
	display: flex;
	justify-self: start;
	
	padding-top: 0.5em;
	font-size: medium;
	font-weight: bold;

}


/****************/
/* FIELDSET 1 */
/****************/

main>section:nth-of-type(3) fieldset:nth-of-type(1){
	border-top: solid;
	border-color: #dddddddd;
	border-width: 0.1em;

}

main>section:nth-of-type(3) fieldset:nth-of-type(1) p:nth-of-type(1),
fieldset:nth-of-type(1) p:nth-of-type(2) {
	
	grid-column: 2;
	margin: 0.2em;
}

main>section:nth-of-type(3) fieldset:nth-of-type(1) p:nth-of-type(3),
fieldset:nth-of-type(1) p:nth-of-type(4),
fieldset:nth-of-type(1) p:nth-of-type(5) {
	
	grid-column: 3;
	margin: 0.2em;
	text-transform: none;
}


main>section:nth-of-type(3) fieldset:nth-of-type(1) p:nth-of-type(3) {
	grid-row: 1/2;
	margin: 0.2em;

}

main>section:nth-of-type(3) fieldset:nth-of-type(1) p:nth-of-type(4) {
	grid-row: 2/3;
	font-size: medium;
	color: purple;
	font-weight: 600;
	margin: 0.2em;

}

main>section:nth-of-type(3) fieldset:nth-of-type(1) p:nth-of-type(5) {
	grid-row: 3/4;
	margin: 0.2em;
}


/****************/
/* FIELDSET 2 */
/****************/

main>section:nth-of-type(3) fieldset:nth-of-type(2) p:nth-of-type(1),
fieldset:nth-of-type(2) p:nth-of-type(2) {
	
	grid-column: 2;
	margin: 0.2em;
}

main>section:nth-of-type(3) fieldset:nth-of-type(2) p:nth-of-type(3),
fieldset:nth-of-type(2) p:nth-of-type(4),
fieldset:nth-of-type(2) p:nth-of-type(5) {
	
	grid-column: 3;
	margin: 0.2em;
	text-transform: none;
}


main>section:nth-of-type(3) fieldset:nth-of-type(2) p:nth-of-type(3) {
	grid-row: 1/2;
	margin: 0.2em;
}

main>section:nth-of-type(3) fieldset:nth-of-type(2) p:nth-of-type(4) {
	grid-row: 2/3;
	font-size: medium;
	color: purple;
	font-weight: 600;
	margin: 0.2em;
	
}

main>section:nth-of-type(3) fieldset:nth-of-type(2) p:nth-of-type(5) {
	grid-row: 3/4;
	margin: 0.2em;

}

/****************/
/* FIELDSET 3 */
/****************/

section:nth-of-type(3) ul{
	padding: 1em;
}

main>section:nth-of-type(3) fieldset:nth-of-type(3) p:nth-of-type(1), fieldset:nth-of-type(3) p:nth-of-type(2),
fieldset:nth-of-type(3) p:nth-of-type(3) {
	grid-column: 2;
	margin: 0.2em;
	text-transform: none;
}

main>section:nth-of-type(3) fieldset:nth-of-type(3) p:nth-of-type(4),
fieldset:nth-of-type(3)  p:nth-of-type(5),
fieldset:nth-of-type(3)  p:nth-of-type(6) {
	grid-column: 3;
	margin: 0.2em;
	text-transform: none;
}

main>section:nth-of-type(3) fieldset:nth-of-type(3)  p:nth-of-type(1){
	color: var(--color-background);
	background-color: var(--color-text);
	width: max-content;
	text-transform: uppercase;
	font-size: x-small;

}

main>section:nth-of-type(3) fieldset:nth-of-type(3)  p:nth-of-type(4) {
	grid-row: 1/2;
	margin: 0.2em;
	
}

main>section:nth-of-type(3) fieldset:nth-of-type(3)  p:nth-of-type(5) {
	grid-row: 2/3;
	font-size: medium;
	color: purple;
	font-weight: 600;
	margin: 0.2em;
	
}

main>section:nth-of-type(3) fieldset:nth-of-type(3) p:nth-of-type(6) {
	grid-row: 3/4;
	margin: 0.2em;
}

/****************/
/*BESTELLEN*/
/****************/

section:nth-of-type(4) ul{
	padding: 1em;
}

main > section:nth-of-type(4) li{
	display: grid;
	grid-template-columns: max-content 1fr min-content;
	grid-row: auto;
	column-gap: 1em;
	font-size: small;
	padding: 1em;
	border-bottom: solid;
	border-color: #dddddddd;
	border-width: 0.1em;

}

main > section:nth-of-type(4) li button{
	border: none;
	cursor: pointer;
	padding: 0;
}

main > section:nth-of-type(4) li button:first-of-type img{
	grid-column: 1;
	grid-row: span 2;
	width: 2em;
}


main > section:nth-of-type(4) li button:nth-of-type(2){
	grid-column: 3;
	grid-row: span 2;;
	margin-right: 1em;
	width: 1em;
 
}

main > section:nth-of-type(4) li button:nth-of-type(2) img{
	width: 1.5em;
}

main > section:nth-of-type(4) li p:first-of-type{
	grid-column: 2;
	grid-row: 1;
	margin: 0;

}

main > section:nth-of-type(4) li p:nth-of-type(2){
	grid-column: 2;
	grid-row: 2;
	margin: 0;
	color: gray;

}

/****************/
/*JOUW CADEAU*/
/****************/

section:nth-of-type(5) ul{
	padding: 1em;
}

section:nth-of-type(5) li{
   display: grid;
   grid-template-columns: 2fr;
   grid-template-rows: 1fr;
   margin: 0;
   padding: 0;
   column-gap: 0.5em;
   border-bottom: solid;
   border-color: #dddddddd;
   border-width: 0.1em;
   padding-bottom: 1em;

}

section:nth-of-type(5) li > img:first-of-type{
	width: 8em;
	grid-column: 1;
	grid-row: 1;
}

section:nth-of-type(5) li button > img{
	width: 1.5em;
}

section:nth-of-type(5) li button {
	grid-column: 3;
	grid-row: 1;
	align-self: start;
	width: 1.5em;
	border: none; 

}

section:nth-of-type(5) li h3{
   text-transform: uppercase;
   font-size: small;
   grid-column: 2;
   grid-row: 1/2;
   align-self: start;
   padding: 0;

}

section:nth-of-type(5) li p:first-of-type{
	grid-column: 2;
	grid-row: 1; 
	padding-top: 2em;
	font-size: small;
}

section:nth-of-type(5) li p:nth-of-type(2){
	grid-column: 2;
	grid-row: 1;
	align-self: end;
	padding-top: 1em;
	font-size: small;
}

/*********************/
/*PRODUCTOMSCHRIJVING*/
/*********************/

section:nth-of-type(6){
	display: grid ; 
	grid-template-columns: 1fr auto;
	grid-template-rows: 7fr;
	margin: 1em;
}

section:nth-of-type(6) h2{
  font-size: small;
  text-transform: uppercase;
}

section:nth-of-type(6) > p:first-of-type{
	font-size: small;
	padding-top: 2em;
	border-bottom: solid;
	border-color: #dddddddd;
	border-width: 0.1em;
	padding-bottom: 1em;
	grid-column: span 2;
}

section:nth-of-type(6) p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4), p:nth-of-type(5) {
	text-transform: uppercase;
	font-size: small;
	grid-column: 1;

}


section:nth-of-type(6) button:last-of-type{
	grid-column: 2;
	width: fit-content;
}

section:nth-of-type(6) > button{
	grid-column: 2;
	width: 2em;
	border: none; 
	justify-self: end;

}

section:nth-of-type(6) p:last-of-type{
	font-size: small;
	grid-column: span 2;
	padding-bottom: 5em;

}

/*********************/
/*DIALOG 1*/
/*********************/

section:nth-of-type(6) dialog:nth-of-type(1){
	transform: translateY(40%);
	max-width: 100%;
	height: 100%;
	border: none;

}

section:nth-of-type(6) dialog:nth-of-type(1) h4{
	font-weight: 400;
	text-transform: uppercase;
	font-size: small;

}

section:nth-of-type(6) dialog:nth-of-type(1) > p{
	font-weight: 400;
	font-size: small;
	text-transform: none;
	margin: 0;
	padding: 0.2em;
}

section:nth-of-type(6) dialog:nth-of-type(1) section{
	display: flex;
	justify-content: space-between; 
	border: none; 

}
section:nth-of-type(6) dialog:nth-of-type(1) section button{
  
  border: none; 
  
}

section:nth-of-type(6) dialog:nth-of-type(1) > button:nth-of-type(1){
	margin: 0;
	padding: 0.2em;

	border: none; 
	background-color: var(--color-text);
	color: var(--color-background);
}

/*********************/
/*DIALOG 2*/
/*********************/

section:nth-of-type(6) dialog:nth-of-type(2){
	transform: translateY(85%);
	max-width: 100%;
	height: 100%;
	border: none;

}

section:nth-of-type(6) dialog:nth-of-type(2) h4{
	font-weight: 400;
	text-transform: uppercase;
	font-size: small;

}

section:nth-of-type(6) dialog:nth-of-type(2) > p{
	font-weight: 400;
	font-size: small;
	text-transform: none;
	margin: 0;
	padding: 0.2em;
}

section:nth-of-type(6) dialog:nth-of-type(2) section{
	display: flex;
	justify-content: space-between; 
	border: none; 

}
section:nth-of-type(6) dialog:nth-of-type(2) section button{
  
  border: none; 
  
}

/*********************/
/*DIALOG 3*/
/*********************/

section:nth-of-type(6) dialog:nth-of-type(3){
	transform: translateY(70%);
	max-width: 100%;
	height: 100%;
	border: none;

}

section:nth-of-type(6) dialog:nth-of-type(3) h4{
	font-weight: 400;
	text-transform: uppercase;
	font-size: small;

}

section:nth-of-type(6) dialog:nth-of-type(3) > p{
	font-weight: 400;
	font-size: small;
	text-transform: uppercase;
	margin: 0;
	padding: 0.2em;
}

section:nth-of-type(6) dialog:nth-of-type(3) section{
	display: flex;
	justify-content: space-between; 
	border: none; 

}
section:nth-of-type(6) dialog:nth-of-type(3) section button{
  
  border: none; 
  
}

/*********************/
/*DIALOG 4*/
/*********************/

section:nth-of-type(6) dialog:nth-of-type(4){
	transform: translateY(30%);
	max-width: 100%;
	height: 100%;
	border: none;

}

section:nth-of-type(6) dialog:nth-of-type(4) h4{
	font-weight: 400;
	text-transform: uppercase;
	font-size: small;

}

section:nth-of-type(6) dialog:nth-of-type(4) > p:nth-of-type(1){
	font-size: xx-large;
}

section:nth-of-type(6) dialog:nth-of-type(4) > p{
	font-weight: 400;
	font-size: small;
	text-transform: none;
	margin: 0;
	padding: 0.2em;
}

section:nth-of-type(6) dialog:nth-of-type(4) section{
	display: flex;
	justify-content: space-between; 
	border: none; 

}
section:nth-of-type(6) dialog:nth-of-type(4) section button{
  
  border: none; 
  
}

section:nth-of-type(6) dialog:nth-of-type(4) > button:nth-of-type(1){
	margin: 0;
	padding: 0.2em;

	border: none; 
	background-color: var(--color-text);
	color: var(--color-background);
}




/*********************/
/*AANBEVELING*/
/*********************/

main>section:nth-of-type(7) ul{
	display: flex;
	overflow-x: auto;
	gap: 1em;
}

main>section:nth-of-type(7) li {
	display: grid;
	flex-shrink: 0;
	list-style-type: none;
	align-content: start;

}

main>section:nth-of-type(7) h2{
	text-transform: uppercase;
	font-weight: 400;
	font-size: small;
	margin: 1em;
}

main>section:nth-of-type(7) > h3{
	text-transform: uppercase;
	font-weight: 400;
	font-size: small;
	margin-left: 1em;

	grid-row: 2;
	grid-column: span 2;

}

main>section:nth-of-type(7) li h3 {
	order: 2;
	text-transform: uppercase;
	font-weight: 200;
	font-size: smaller;

}

main>section:nth-of-type(7) li p {
	order: 3;
	font-weight: 100;
	font-size: small;
	line-height: 0.1em;
	text-overflow: ellipsis;
	white-space: nowrap;
}


main>section:nth-of-type(7) li img {
	width: 10em; 
	padding-bottom: 0;

	grid-row-start: 1;
	grid-column-start: 1;

	z-index: 0;
}

main>section:nth-of-type(7) li img:hover{
	transform: scale(1.2);
}

main>section:nth-of-type(7) li button img {
	padding: 0;
	margin: 0;
	width: 3em;

}

main>section:nth-of-type(7) li button {
	background: none;
	border: none;
	padding-left: 9em;
	grid-column: 1;
	grid-row: span 2;

	justify-self: end;
	align-self: end;

	z-index: 4;

}


main>section:nth-of-type(7) p:nth-of-type(6) {
	grid-row-start: 1;
	grid-column-start: 1;

	justify-self: start;
	align-self: start;

	margin: 1em;
	background-color: crimson;
	color: #eee;
	padding: 0.5em;

	z-index: 1;

}

/*bron: Sanne uitleg in de les grid*/

main>section:nth-of-type(7) li:nth-of-type(1) p:nth-of-type(4) {
	color: purple; 
	font-size: medium;
	font-weight: 700;
}

main>section:nth-of-type(7) li:nth-of-type(1) p:nth-of-type(5) {
	font-size: x-small;
}



main>section:nth-of-type(7) li:nth-of-type(2) p:nth-of-type(2) {
	color: purple;
	font-size: medium;
	font-weight: 700;
}

main>section:nth-of-type(7) li:nth-of-type(2) p:nth-of-type(3) {
	font-size: x-small;
}


main>section:nth-of-type(7) li:nth-of-type(3) p:nth-of-type(5) {
	color: purple;
	font-size: medium;
	font-weight: 700;
}


/*********************/
/*BLOEMEN*/
/*********************/


main>section:nth-of-type(8) ul{
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

main>section:nth-of-type(8) li{
	display: grid;
	grid-template-columns: 1fr;
	grid-row: auto;

}

main>section:nth-of-type(8) h2{
	text-transform: uppercase;
	font-size: small;
	font-weight: 400;
	margin: 1em;
	text-align: center;
	padding-top: 2em;
}

main>section:nth-of-type(8) > p{
	font-size: medium;
	font-weight: 300;
	margin: 1em;
	text-align: center;
	text-transform: uppercase;
}

main>section:nth-of-type(8) li h3{
	grid-column: 1;
	grid-row: 2;
	text-align: center;
}

main>section:nth-of-type(8) img{
	width: 15em;
	border-radius: 50%;

	grid-column: 1;
	grid-row: 1;
}

@keyframes bloemen{
	0%{
	  transform: rotate(0deg);
	}
	100%{
	  transform: rotate(360deg); 
	}
  }
  
  main>section:nth-of-type(8) img:hover{
	animation-name: bloemen;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
  }


main>section:nth-of-type(8) li p{
	font-size: small;
	text-align: center;
	padding-bottom: 2em;

	grid-column: 1;
	grid-row: 3;
}

main>section:nth-of-type(8) h3{
	font-size: small;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;

}

/*********************/
/*DUA LIPA STUKJE*/
/*********************/


main > section:nth-of-type(9) ul{
	display: flex;
	flex-direction: column;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	margin: 0;
}

main > section:nth-of-type(9) li{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:  min-content auto;
}


main > section:nth-of-type(9) li h2{
	grid-row: 2;
	font-size: small;
	font-weight: 400;
	padding-top: 2em;

}

main > section:nth-of-type(9) li p:nth-of-type(1){
	grid-row: 3;
	font-size: small;
	padding: 0;
	margin: 0;
}

main > section:nth-of-type(9) li p:nth-of-type(2) {
	grid-row: 4;
	grid-column: 1;

	font-size: small;
	font-weight: 700;
}

main > section:nth-of-type(9) li p:nth-of-type(3){
	grid-row: 4;
	grid-column: 1;

	padding-top: 2em;
	font-weight: bold; 
	padding-bottom: 2em;
}



main > section:nth-of-type(9) li img{
  grid-row: 1;
  max-width: 100%;
  
}

/*********************/
/*VIDEO*/
/*********************/

main > section:nth-of-type(10) h2{
	font-size: small;
	font-weight: 400;
	text-transform: uppercase;
	padding-left: 3.5em;

}

main > section:nth-of-type(10) p{
	font-size: small;
	padding-left: 3.5em;
}

main > section:nth-of-type(10) video{
   max-width: 100%;
   padding: 3em;

}
